<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>
<body>
    <div id="signupcontainer">
        <div id="signuptextcontainer">
            <div id="signuptext">
                <h1>Welcome Again</h1>
                <span>
                    Habit tracker apps can be helpfull for anyone looking to adopt healthier habits, increase productivity, or make positive lifestyle changes by providing structure, accountability, and valuable feedback on their journey towards personal growth and self-improvement.
                </span>
            </div>
        </div>
        <div id="signupform">
            <form action="/auth/signin" method="post">
                <h1>sign in</h1>
                <input type="email" placeholder="abc@gmail.com" id="email" name="email" required>
                <input type="password" placeholder="enter password" id="password" name="password" required>
                <input type="submit" id="formbutton" placeholder="signup">
                <a href="/auth/signuppage">Dont have account</a>
            </form>
        </div>
    </div>
</body>
</html>